<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @club.private %>
</p>

<p>
  <strong>Location:</strong>
  <%= @club.location %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @club.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @club.longitude %>
</p>

<%#= link_to 'Back', user_clubs_path(@user) %>
