<h1>Admin List of Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr scope="row">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.role %></td>
        <td><%#= link_to 'Show', user_path(user) if user_signed_in? %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user_club_path(current_user, club), method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admin_user_path %>
