<!DOCTYPE html>
<html>
<head>
  <title>LittleKittyEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main_menu">
    <%= yield :main_menu %>
  </div>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.signin_as %></strong>.
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>

  <div class="container">
    <% flash.each do |key, value| %>
      <%= render 'layouts/flash', key: key, value: value %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
